<div class="easy-login-wrapper" style="opacity: 70%;">
  <a class="easy-login-trigger">Display Form</a>
  <div class="easy-login-forms-container" style='display: none;'>
    <% AnyLoginMultiple.klass_names.each do |klass_name| %>
      <%= form_with url: any_login_multiple.sign_in_path(as: klass_name), class: 'easy-login-form', method: :post do |form| %>
        <label>
          <%= klass_name %>
        </label>
        <%= form.select :id, klass_name.constantize.pluck(:email, :id) %>
        <%= form.submit 'Submit' %>
      <% end %>
    <% end %>
  </div>
</div>

<style>
  .easy-login-wrapper {
      position: fixed;
      bottom: 0;
      left: 0;
      background: #5c4383;
      color: white;
      z-index: 100;
      padding: 5px 10px;
  }
  .easy-login-trigger {
      color: white;
      cursor: pointer;
  }
</style>

<script type="text/javascript" charset="utf-8">
  window.EasyLogin = window.EasyLogin || {};

  window.EasyLogin.on_select_change = () => {
    const easyLoginForm = document.querySelectorAll('.easy-login-form');
    easyLoginForm.forEach(form => {
      const select = form.querySelector('select')
      select.addEventListener('change', () => {
        form.submit();
      })
    })
  }

  window.EasyLogin.on_select_change();

  window.EasyLogin.display_forms = () => {
    const trigger = document.querySelector('.easy-login-trigger');
    const wrapper = document.querySelector('.easy-login-wrapper')

    trigger.addEventListener('click', () => {
      const formBox = document.querySelector('.easy-login-forms-container');
      if (formBox.style.display == 'none') {
        formBox.style.display = 'block'
        wrapper.style.opacity = '100%'
        trigger.textContent = 'Hide Form'
      } else {
        formBox.style.display = 'none'
        wrapper.style.opacity = '70%'
        trigger.textContent = 'Display Form'
      }
    })
  }
  window.EasyLogin.display_forms();
</script>
