<!DOCTYPE html>
<html>
<head>
  <title>Easy login</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "easy_login/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
